.jumbotron{
	background-color: #4F4E59;
	margin-top: 60px;
	color: white;
}

footer{
	background-color: #555555;
	padding: 10px 10px 10px 10px;
	margin-bottom: 0px;
	margin-top: 15px;
	color: white;
}

.btn-pag{
	width: 100%;
	border-radius: 0px;

}

.card-pag{
	flex: 1 200%;
	margin-top: 10px;
}

.card-header{
	margin-top: 0px;
	padding: 5px 0px 0px 0px;
}